<!DOCTYPE html>
<div class="container signin">
    <h2 class="form-signin-heading"><g:message code="login.login"/></h2>
    <input type="text"
        class="form-control"
        placeholder="{{ ::interpolate('global.username') }}"
        data-ng-model="userData.username"
        required autofocus/>
    <input type="password"
        class="form-control"
        placeholder="{{ ::interpolate('global.password') }}"
        data-ng-model="userData.password"
        data-ng-keypress="($event.keyCode === 13) && userData.password && userData.username && login()"
        required>
    <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        data-ng-disabled="!userData.password || !userData.username"
        data-ng-click="login()">
        {{::interpolate('global.login')}}
    </button>
</div>