
.swish.ng-enter {
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 600px;
  -moz-transform-style: preserve-3d;
  -moz-perspective: 600px;
  z-index: 10;
}

.swish.ng-enter > * {
  -webkit-animation: rotenter 0.5s 1;
  animation: rotenter 0.5s 1;
  -webkit-transform-origin: 50% 50% -1000px;
  transform-origin: 50% 50% -1000px;
  /*position:absolute;*/
  top: 0;
  z-index: 9999;
}

.unswish.ng-leave >* {
  -webkit-animation: rotleave 0.5s 1;
  animation: rotleave 0.5s 1;
  -webkit-transform-origin: 50% 50% -1000px;
  transform-origin: 50% 50% -1000px;
  position: absolute;
  top: 0;
  z-index: 9998;
}

@-webkit-keyframes rotenter {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(60deg);
    -moz-transform: rotateY(60deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
  }
}

@keyframes rotenter {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(60deg);
    transform: rotateY(60deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes rotleave {
  0% {
    -webkit-transform: rotateY(0deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(-60deg);
    opacity: 0;
  }
}

@keyframes rotleave {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(-60deg);
    transform: rotateY(-60deg);
    opacity: 0;
  }
}

.ng-enter {
  -webkit-animation: enter 0.5s 1;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: enter 0.5s 1;
  /* IE 10+ */
}

/* Copied from angular animate docs */
/* The starting CSS styles for the enter animation */
.animated-fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.animated-fade.ng-enter.ng-enter-active {
  opacity:1;
}
