.error {
    color: red;
}

.alerts {
  margin-top: 25px !important;
  padding-left: 0px !important;
  position: relative;
  top: 10px;
}

.animated-fade {
  width: 100%;
  opacity: 0.9;
  position: absolute;
}

.animated-fade>div {
  text-align: center;
}

.animated-fade>div>div {
  display: inline-block;;
}

.manage-accounts {
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    width: 100%;
    padding: 10px;
}

.manage-accounts td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.clickable {
  cursor:pointer;
}

.transactions-container {
  padding-top: 10px;
  text-align: center;
}

.paginInfo {
  display: inline-block;
}

.account-info:after {
    content: "ACCOUNT INFO" !important;
}