<table style="width:100%">
    <th style="width:5%">&nbsp;</th>
    <th style="width:20%">
        {{ ::interpolate('accounts.iban')}}
    </th>
    <th style="width: 15%;">
        {{ ::interpolate('accounts.currency') }}
    </th>
    <th style="width:10%">
        {{ ::interpolate('accounts.overdraft') }}
    </th>
    <th style="width: 20%;">
        {{ ::interpolate('accounts.balance') }}
    </th>
    <th style="width:15%" data-ng-if="usr.id">
        <span class="glyphicon glyphicon-pencil">
    </th>

    <tbody data-ng-repeat="account in usr.accounts">
        <tr>
            <td>
            </td>
            <td>
                <input type="text"
                    class="form-control"
                    data-ng-disabled="true"
                    value="{{ account.iban || '---'}}">
                </input>
            </td>
            <td>
                <div dropdown> 
                    <button
                        data-ng-disabled="account.id"
                        type="button"
                        class="btn btn-primary"
                        dropdown-toggle>
                        <span class="glyphicon" data-ng-class="'glyphicon-' + account.currency.symbol"></span>
                        {{ account.currency.name }}
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li ng-repeat="currency in ctx.currencies">
                            <a data-ng-click="account.currency=currency">
                                <span class="glyphicon" data-ng-class="'glyphicon-' + currency.symbol"></span>
                                {{ ::currency.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <input data-ng-model="account.overdraft" type="checkbox"/>
            </td>
            <td>
                <input type="text"
                    class="form-control"
                    data-ng-model="account.balance"
                    ea-validate="account"
                    name="balance"
                    placeholder="{{ ::interpolate('accounts.initialBalance') }}"/>
            </td>
            <td data-ng-if="usr.id">
                <button
                    class="btn btn-success"
                    data-ng-disabled="account.$errors || !account.$dirty"
                    data-ng-click="account.$validate() && saveAccount(account)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button class="btn btn-danger" data-ng-click="deleteAccount(usr, $index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>