<h3>{{ ::interpolate('admin.usersList') }}</h3>
<button class="btn btn-success" data-ng-click="newUser()">
    <span class="glyphicon glyphicon-plus"></span>
    {{ ::interpolate('admin.newUser') }}
</button>

<table class="table">
    <thead>
        <th style="width: 5%;">
            {{ ::interpolate('admin.id') }}
        </th>
        <th style="width: 15%;">
            {{ ::interpolate('admin.name') }}
        </th>
        <th style="width: 15%;">
            {{ ::interpolate('admin.surname') }}
        </th>
        <th style="width: 15%;">
            {{ ::interpolate('admin.username') }}
        </th>
        <th style="width: 15%;" data-ng-if="showPasswordColumn()">
            {{ ::interpolate('admin.password') }}</th>
        <th style="width: 20%;">
            {{ ::interpolate('admin.role') }}
        </th>
        <th style="width:15%">
            <span class="glyphicon glyphicon-pencil">
        </th>
    </thead>
    <tbody data-ng-repeat="usr in ctx.users">
        <tr class="swish" data-ng-if="!usr.editing"  >
            <td style="cursor:pointer" data-ng-click="usr.editing = !!!usr.editing"> {{ usr.id }}</td>
            <td>{{usr.name}}</td>
            <td>{{usr.surname}}</td>
            <td>{{usr.username}}</td>
            <td data-ng-if="showPasswordColumn()">
                -------
            </td>
            <td>{{usr.getRole()}}</td>
            <td>
                <button class="btn btn-success" data-ng-click="usr.editing = !!!usr.editing">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-danger" data-ng-disabled="usr.id === user.id" data-ng-click="removeUser($index)">
                    <span class="glyphicon glyphicon glyphicon-ban-circle"></span>
                </button>
            </td>
        </tr>
        <tr class="swish" data-ng-if="usr.editing">
            <td>
                <input
                    type="text"
                    class="form-control"
                    value="{{ usr.id || '--' }}"
                    data-ng-disabled="true"/>
            </td>
            <td>
                <input
                    type="text"
                    class="form-control"
                    data-ng-model="usr.name"
                    ea-validate="usr"
                    name="name"
                    placeholder="{{ ::interpolate('admin.name') }}"/>
            </td>
            <td>
                <input
                    type="text"
                    class="form-control"
                    data-ng-model="usr.surname"
                    ea-validate="usr"
                    name="surname"
                    placeholder="{{ ::interpolate('admin.surname') }}"/>
            </td>
            <td>
                <input
                    type="text"
                    class="form-control"
                    data-ng-model="usr.username"
                    ea-validate="usr"
                    name="username"
                    placeholder="{{ ::interpolate('admin.username') }}"/>
            </td>
            <td>
                <input
                    type="password"
                    class="form-control"
                    data-ng-model="usr.password"
                    ea-validate="usr"
                    name="password"
                    placeholder="{{ ::interpolate('admin.password') }}"/>
            </td>
            <td>
                <div dropdown> 
                    <button data-ng-disabled="usr.id" type="button" class="btn btn-primary" dropdown-toggle>
                        {{ usr.getRole() }}
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li ng-repeat="role in ctx.roles">
                            <a data-ng-click="usr.role=role">{{role}}</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <button
                    class="btn btn-success"
                    data-ng-disabled="usr.$errors || !usr.$dirty"
                    data-ng-click="usr.$validate() && saveUser(usr)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button class="btn btn-danger" data-ng-click="cancel(usr, $index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        <tr data-ng-if="usr.editing && usr.isCustomer()">
            <td  style="padding: 0px;" colspan="7">
                <button class="btn btn-success" data-ng-click="newAccount(usr)">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ ::interpolate('admin.newAccount') }}
                </button>
                <div
                    class="manage-accounts" 
                    data-ng-include="'templates/admin/account.html'"
                    data-ng-if="usr.accounts && usr.accounts.length > 0">
                </div>
            </td>
        </tr>
    <tbody>
</table>
