<h3>{{ ::interpolate('customer.accountList') }}</h3>

<hr>
<div class="bs-example account-info" data-ng-repeat="account in user.accounts">
    <div >
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ ::interpolate('accounts.iban')}}</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{ ::account.iban}}</p>
            </div>
            <label class="col-sm-2 control-label">{{ ::interpolate('accounts.balance')}}</label>
            <div class="col-sm-10">
                <p class="form-control-static" data-ng-class="{'error': (account.balance < 0)}">
                    <span class="glyphicon" data-ng-class="'glyphicon-' + account.currency.symbol"></span>
                    {{account.balance}}
                </p>
            </div>
            <label class="col-sm-2 control-label">{{ ::interpolate('accounts.overdraft')}}</label>
            <div class="col-sm-10">
                <p class="form-control-static">
                    {{ ::interpolate('global.' + (account.overdraft ? 'enabled' : 'disabled'))}}
                </p>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" data-ng-click="ctx.selectedAccount = account">
                <span class="glyphicon glyphicon-plus"></span>
                {{ ::interpolate('global.info') }}
            </button>
        </div>
    </div>
    <div class="swiss account-operations" data-ng-if="ctx.selectedAccount.id === account.id">
        <hr>
        <h3>{{ ::interpolate('customer.operate') }}</h3>
        <div class="account-actions">
            <div class="form-group">
                <input class="form-control"
                    type="text"
                    ng-model="account.deltaAmount"
                    ea-validate="account"
                    name="deltaAmount">
                </input>
            </div>
            <div class="form-group">
                <button class="btn btn-success" data-ng-click="transact(false)">
                    {{ ::interpolate('customer.deposit')}}
                </button>
                <button
                    class="btn btn-danger"
                    data-ng-click="transact(true)"
                    data-ng-disabled="!account.overdraft && account.deltaAmount > account.balance">
                    {{ ::interpolate('customer.withdraw')}}
                </button>
            </div>
        </div>
        <div >
            <button class="btn btn-success" data-ng-click="showTransactions(account)">
                <span class="glyphicon glyphicon-plus"></span>
                {{ ::interpolate('customer.showTransactions') }}
            </button>
            <div class="transactions-container"
                data-ng-if="account.pagination"
                data-ng-include="'templates/customer/transaction_history.html'">
            </div>
        </div>
    </div>
</div>
