<table class="table table-striped table-bordered">
    <thead>
        <th>{{::interpolate('global.date')}}</th>
        <th>{{::interpolate('global.amount')}}</th>
        <th>{{::interpolate('global.type')}}</th>
    </thead>
    <tbody>
        <tr data-ng-repeat="transaction in account.pagination.pageToShow">
            <td>{{transaction.getDate()}}</td>
            <td>
                {{transaction.delta}}
                <span class="glyphicon" data-ng-class="'glyphicon-' + account.currency.symbol"></span>
            </td>
            <td>{{transaction.type.name}}</td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <ul class="pagination" style="margin-bottom: 0px;" data-ng-if="account.pagination.totalPages > 1">
        <li data-ng-click="gotoPage(1)">
            <span ng-class="{disabled: (loadingPages || !account.pagination.context.previous)}" class="glyphicon glyphicon-fast-backward clickable"></span>
        </li>
        <li  data-ng-click="paginate(false)">
            <span ng-class="{disabled: (loadingPages || !account.pagination.context.previous)}" class="glyphicon glyphicon-step-backward clickable"></span>
        </li>
        <li class="clickable"
            data-ng-class="{active: page === account.pagination.currentPage }"
            data-ng-repeat="page in account.pagination.pages"
            data-ng-click="gotoPage(page)">
            <span data-ng-bind="page"></span>
        </li>
        <li data-ng-click="paginate(true)">
            <span ng-class="{disabled: (loadingPages || !account.pagination.context.next)}" class="glyphicon glyphicon-step-forward clickable"></span>
        </li>
        <li data-ng-click="gotoPage(account.pagination.totalPages)">
            <span ng-class="{disabled: (loadingPages || !account.pagination.context.next)}" class="glyphicon glyphicon-fast-forward clickable"></span>
        </li>
    </ul>
    <div class="pagingInfo" data-ng-if="account.pagination.totalPages > 1">
        <small>
            Showing page {{account.pagination.currentPage}} of {{account.pagination.totalPages}}
        </small>
    </div>
</div>